<div id="container"></div>

<div id="stats"></div>
<input
  type="file"
  id="texture-upload"
  accept=".jpg, .png, .jpeg, .mp4"
  style="display: none"
/>
<!-- <div class="loading-screen">
  <div class="container">
    <div class="anim">
      <div class="el"></div>
      <div class="el"></div>
      <div class="el"></div>
      <div class="el"></div>
      <div class="el"></div>
      <div class="el"></div>
      <div class="el"></div>
    </div>
  </div>
</div> -->
