.loading-screen {
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;

  background-image: url('/assets/loading-bg.jpg');
}

.hidden {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.anim {
  width: 50px;
  height: 50px;
  position: relative;
  animation: global 2.5s infinite linear both;
}

.el {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  animation: local 2s infinite ease-in-out both;
}

.el:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: lightgreen;
  border-radius: 100%;
  animation: el 2s infinite ease-in-out both;
}

.el:nth-child(1) {
  animation-delay: -1.1s;
}
.el:nth-child(2) {
  animation-delay: -1s;
}
.el:nth-child(3) {
  animation-delay: -0.9s;
}
.el:nth-child(4) {
  animation-delay: -0.8s;
}
.el:nth-child(5) {
  animation-delay: -0.7s;
}
.el:nth-child(6) {
  animation-delay: -0.6s;
}
.el:nth-child(7) {
  animation-delay: -0.5s;
}
.el:nth-child(8) {
  animation-delay: -0.4s;
}
.el:nth-child(1):before {
  animation-delay: -1.1s;
}
.el:nth-child(2):before {
  animation-delay: -1s;
}
.el:nth-child(3):before {
  animation-delay: -0.9s;
}
.el:nth-child(4):before {
  animation-delay: -0.8s;
}
.el:nth-child(5):before {
  animation-delay: -0.7s;
}
.el:nth-child(6):before {
  animation-delay: -0.6s;
}
.el:nth-child(7):before {
  animation-delay: -0.5s;
}
.el:nth-child(8):before {
  animation-delay: -0.4s;
}

@keyframes global {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes el {
  50% {
    transform: scale(0.4);
  }
  100%,
  0% {
    transform: scale(1);
  }
}

@keyframes local {
  80%,
  100% {
    transform: rotate(360deg);
  }
}
